<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menú Administrador</title>
    <link rel="shortcut icon" href="/img/icon-incubadora.png">
    <link
        href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:600|Baloo|Bitter:700|Fjalla+One|PT+Sans:700|Patua+One|Source+Sans+Pro&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@300;500;600&family=Nanum+Gothic&family=Ubuntu:wght@400;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball&family=Satisfy&display=swap" rel="stylesheet">

    <meta name="description"
        content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components" />
    <link rel="stylesheet" href="/_recursos/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/_recursos/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="/_recursos/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/_recursos/css/simple-line-icons.css" type="text/css" />
    <link rel="stylesheet" href="/_recursos/css/font.css" type="text/css" />
    <link rel="stylesheet" href="/_recursos/css/app.css" type="text/css" />
    <link rel="stylesheet" href="/_recursos/js/sweetalert.css">
    <link rel="stylesheet" href="/_recursos/css/customs.css">
    <!-- Buscador Interno de Select -->
    <link rel="stylesheet" href="/css/select2.min.css">

    <!-- Menú -->
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/menu.css">
    <!-- Login -->
    <link rel="stylesheet" href="/css/login.css">
    <!-- monitoreo -->
    <link rel="stylesheet" href="/css/monitoreo.css">
    <!-- Estilos para todos los Registros -->
    <link rel="stylesheet" href="/css/registro.css">
    <!-- Perfil -->
    <link rel="stylesheet" href="/css/perfil.css">
    <!-- Pedido -->
    <link rel="stylesheet" href="/css/pedido.css">
    <!-- messages -->
    <link rel="stylesheet" href="/css/message.css">
    <!-- pagination -->
    <link rel="stylesheet" href="/css/pagination.css">
</head>


<body>
    {{>navigation}}

    <script src="/_recursos/js/sweetalert.min.js"></script>
    <script src="/_recursos/js/jquery.min.js"></script>
    <script src="/_recursos/js/bootstrap.min.js"></script>

    <!-- main.js -->
    <script src="/js/main.js"></script>
    <!-- JQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- Navigation -->
    <script src="/js/navigation.js"></script>
    <!-- monitoreo -->
    <script src="/js/monitoreo.js"></script>
    <!-- monitoreo Representante -->
    <script src="/js/monitoreoRepresentante.js"></script>
    <!-- Pedido -->
    <script src="/js/pedido.js"></script>
    <!-- Pedido -->
    <script src="/js/representante.js"></script>
    <!-- editUser -->
    <script src="/js/editUser.js"></script>
    <!-- addUser -->
    <script src="/js/addUser.js"></script>
    <!-- generateCodigo -->
    <script src="/js/generateCodigo.js"></script>
    <!-- eventos de Incubadora -->
    <script src="/js/listIncubadora.js"></script>

    <!-- DataTables Paginación y busqueda Automático -->
    <script>
        $(function () {
            $('#example1').DataTable({
                "language": traduccion,
                rowReorder: true,
                columnDefs: [
                    { orderable: true, className: 'reorder', targets: 2 },
                    { orderable: false, targets: '_all' }
                ],
                searchBuilder: {
                    preDefined: {
                        criteria: [
                            {
                                condition: 'DESC'
                            }
                        ]
                    }
                }
            })
        })
    </script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/pagination.js"></script>

    <!-- Buscador Interno de Select -->
    <script src="/js/select2.min.js"></script>
    <script>
        $(function () {
            $('#selectBuscador').select2();
        })

        $(function () {
            $('#selectBuscador2').select2();
        })
    </script>

    <!-- messageFlotante -->
    <script src="/js/messageFlotante.js"></script>

</body>

</html>