<input type="hidden" name="modulo" id="modulo" value="{{user.modulo}}">

<div class="app app-header-fixed modelo modelo control" id="app" action="index.php">

    <div id="output"></div>

    <div class="app-content" id="main-content">
        <div class="contendor_kn">
            {{{ body }}}
            <!-- footer -->
            <div class="app-footer wrapper b-t bg-light">
                <span class="pull-right">Version 1.1.0 <a href="#app" class="m-l-sm text-muted"><i
                            class="fa fa-long-arrow-up"></i></a></span>
                &copy; Copyright © 2019-2021 Incubadora AC. Todos los Derechos Reservados
            </div>
        </div>
    </div>

</div>