<input type="hidden" name="modulo" id="moduloUser" value="{{user.modulo}}">

<section class="registro-data">
    <div class="state">REGISTRO DE INCUBADORAS</div>
    <div class="data">
        <form action="/incubadora/add" method="post">
            <div class="data-valor1">
                <p class="description">Nombre Incubadora: </p>
                <p><input type="text" name="nombre_incubadora" value="" required pattern="[A-Za-z 0-9]+" title="Ingrese solo letras Mayúsculas, minúsculas y números"></p>
            </div>
            <div class="data-valor1">
                <p class="description">Estado:</p>
                <p>
                    <select name="estado" required>
                        <option value="">Seleccione...</option>
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                    </select>
                </p>
            </div>
            
            <div class="data-boton">
                <p class="boton"><button type="submit">Registrar</button></p>
            </div>

            {{#if message }}
            <div class="messageError">{{ message }}</div>
            {{/if}}

            {{#if success }}
            <div class="messageSuccess">{{ success }}</div>
            {{/if}}
        </form>
    </div>
</section>